Checks: >
  bugprone-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,performance-*,readability-*
  ,-cppcoreguidelines-avoid-c-arrays
  ,-cppcoreguidelines-pro-type-reinterpret-cast
  ,-cppcoreguidelines-owning-memory
  ,-cppcoreguidelines-avoid-magic-numbers
  ,-cppcoreguidelines-pro-bounds-array-to-pointer-decay
  ,-modernize-use-trailing-return-type
  ,-modernize-use-nodiscard
  ,-cppcoreguidelines-pro-type-vararg
  ,-cppcoreguidelines-pro-type-union-access
  ,-readability-identifier-length
  ,-readability-magic-numbers
  ,-bugprone-easily-swappable-parameters
  ,-modernize-avoid-c-arrays
  ,-cppcoreguidelines-pro-bounds-pointer-arithmetic
  ,-readability-function-cognitive-complexity
  ,-readability-named-parameter
WarningsAsErrors: '*'
HeaderFilterRegex: '^(include|src)/'
FormatStyle: none
