build/
.vscode/
.cache/clangd/index/health_state.cpp.B2B3F8986F537AE4.idx
.cache/clangd/index/health_state.hpp.D0F246E8AC2BD7C6.idx
.cache/clangd/index/result.cpp.FDF3FFADAFA14EEA.idx
.cache/clangd/index/result.hpp.E84C7D6B4BC05BEE.idx
.cache/clangd/index/safety_envelope_tests.cpp.89CE80D90B8DD4E1.idx
.cache/clangd/index/safety_envelope.hpp.C7C2ADFBBA92D34C.idx
.cache/clangd/index/state_machine_tests.cpp.CA1F3210BE7CC4C0.idx
.cache/clangd/index/state_machine.cpp.F941B932EA401DF3.idx
.cache/clangd/index/state_machine.hpp.81CAE2927139B15B.idx
.cache/clangd/index/task_executor.cpp.FF1F4BE8B6909216.idx
.cache/clangd/index/task_executor.hpp.27AFC7E0DDDEE781.idx
.cache/clangd/index/time.cpp.ACFC1215243FAFB7.idx
.cache/clangd/index/time.hpp.6FDFFB13ACF681C3.idx
.githooks/pre-commit
.cache/clangd/index/alpha_beta_filter.hpp.04F2AB50E074A8F2.idx
.cache/clangd/index/alpha_beta.cpp.96E251193CC6B93C.idx
.cache/clangd/index/clock.cpp.6650573B206960AA.idx
.cache/clangd/index/clock.hpp.0E8547455F2A2042.idx
.cache/clangd/index/health_monitor.hpp.79043E7EC88506DF.idx
.cache/clangd/index/logging_health_monitor.cpp.FA76635FD4E17D9F.idx
.cache/clangd/index/logging_health_monitor.hpp.A3FE36A37D95D15E.idx
.cache/clangd/index/safety_pid.cpp.4DDBCEB4F1E662B6.idx
.cache/clangd/index/safety_pid.hpp.25894A131C81E582.idx
.cache/clangd/index/system_config.hpp.96FB397695D9E426.idx
.cache/clangd/index/system_context_tests.cpp.9692687E3445E0EB.idx
.cache/clangd/index/system_context.hpp.2189995D0055DA42.idx
